<div class="encabezado">
    <div class="atras"> <button type="button" class="btn" routerLink="/"><i
        class="fas fa-arrow-left"></i></button>
</div>
    <h1>GUÍA DE AYUDA DE LA APLICACIÓN</h1>
</div>

<div class="contenedor">
    <div class="reservas">
        <h1>PÁGINA DE INICIO</h1>
        <p>Al entrar en la aplicación, la primera pantalla que nos aparecerá mostrará las reservas a tiempo real de cada
            tipo de sangre.
            Esta información es visible para todo el público.
        </p>
        <p>Al inicio de la página, encontraremos los botones, de "Entrar" y "Registro" del usuario.</p>
        <img src="assets/img/imgAyuda/botonesReservas.PNG" alt="botones" class="centrarMas">
        <p>Si bajamos un poco, encontraremos una barra lateral, donde podremos elegir las reservas del tipo sanguíneo
            que
            deseamos ver.</p>
        <img src="assets/img/imgAyuda/barraLateralReservas.PNG" alt="barra" class="centrarBotones">
        <p>A su lado, podemos ver una imagen gráfica que nos mostrará los niveles de sangre a tiempo real</p>
        <img src="assets/img/imgAyuda/corazonReservas.PNG" alt="" class="centrar">
        <p>Y un pie de página que será común a las siguientes pantallas, exceptuando "Entrar" y "Registro".<br> Aquí
            podemos
            encontrar información
            útil o de interés para el usuario.</p>
        <img src="assets/img/imgAyuda/pie.PNG" alt="" class="pieYMenu">
    </div>

    <div class="entrar">
        <h1>ENTRAR EN LA APLICACIÓN</h1>
        <p>Si clicamos en uno de los botones el princio, "Entrar" por ejemplo, entraremos en una nueva pantalla. <br>
            Al inicio de ésta, nos encontraremos un botón de "Volver" en la esquina superior izquierda</p>
        <img src="assets/img/imgAyuda/botonAtrás.PNG" alt="" class="centrarBotones">
        <p> y un botón de "Registrarme" en la esquina superior derecha</p>
        <img src="assets/img/imgAyuda/botonRegistro.PNG" alt="" class="centrarMas">
        <p>Como cuerpo de la pantalla, podremos encontrar un formulario de inicio de la aplicación</p>
        <img src="assets/img/imgAyuda/formularioEntrar.PNG" alt="" class="centrar">
    </div>

    <div class="registrarme">
        <h1>REGISTRARME EN LA APLICACIÓN</h1>
        <p>Del contrario, si clicamos en el botón "Registrarme", al inicio de la página, nos encontraremos un botón
            "Volver"
            en
            la esquina superior izquierda.
        </p>
        <img src="assets/img/imgAyuda/botonAtrás.PNG" alt="" class="centrarBotones">
        <p>Y un botón de "Entrar" en la esquina superior derecha.</p>
        <img src="assets/img/imgAyuda/botonEntrar.PNG" alt="" class="centrarMas">
        <p>Como cuerpo de la pantalla, podemos encontrar un formulario de registro de la aplicación</p>
        <img src="assets/img/imgAyuda/formularioRegistro.PNG" alt="" class="centrar">
    </div>

    <div class="analiticas">
        <h1>APARTADO ANALÍTICAS</h1>
        <p>Una vez dentro de la aplicación, encontraremos una barra de navegación que será común para las demás
            pantallas.
        </p>
        <p>Contiene una imagen con el logo de la aplicación, si clicamos nos llevará a la página principal.<br>
            A su derecha, podemos encontrar los apartados de "Analíticas", "Número de donaciones", "Ir a donar" y un
            botón
            de "Salir" de la
            aplicación.</p>
        <img src="assets/img/imgAyuda/barraNavegación.PNG" alt="" class="pieYMenu">
        <p>En el apartado analíticas, podemos ver las analíticas de las donaciones realizadas.<br> Cada analítica tendrá
            un
            botón de
            "Ver" que nos mostrará la analítica en el navegador.</p>
        <img src="assets/img/imgAyuda/analíticas.PNG" alt="" class="centrarPoco">
        <p>Y un pie de página mencionado anteriormente.</p>
    </div>

    <div class="donaciones">
        <h1>APARTADO NÚMERO DE DONACIONES</h1>
        <p>En el apartado de "Número de donaciones", al inicio de la página nos encontraremos con el menú, mencionado
            anteriormente. Como cuerpo de ésta, nos encontramos con un formulario para añadir la fecha y el centro de la
            donación.</p>
        <img src="assets/img/imgAyuda/formularioDonacion.PNG" alt="" class="centrar">
        <p>Que se mostrará un poco más abajo como "Donaciones Anteriores" con un botón "Eliminar" que eliminará el
            registro. </p>
        <img src="assets/img/imgAyuda/donacionesAnteriores.PNG" alt="" class="imagenDonacion">
        <p>Y un pie de página mencionado anteriormente.</p>
    </div>

    <div class="puntosDeRecogida">
        <h1>APARTADO IR A DONAR</h1>
        <p>En el apartado de "Ir a donar" al inicio de la página nos encontraremos con el menú, mencionado
            anteriormente. Como cuerpo de página, nos encontraremos un desplegable, donde seleccionaremos nuestra
            provincia.</p>
        <img src="assets/img/imgAyuda/seleccionarProvincia.PNG" alt="" class="centrar">
        <p>Al seleccionar una provincia, nos mostrará los puntos de recogída de ésta.</p>
        <img src="assets/img/imgAyuda/puntosDeRecogida.PNG" alt="" class="imagenPuntos">
        <p>Y un pie de página mencionado anteriormente.</p>
    </div>
</div>

<div class="pie">
    <app-pie></app-pie>
</div>