<footer class='row' id='fondoPie'>
        <div class="col-3">
            Teléfono de contacto: 955 00 99 00<br>
            <a href="https://www.aebt.org/">Asociación Española de banco de tejidos</a><br>
            <a href="http://www.donantesdesangre.net/">Federación nacional de donantes de sangre</a><br>
        </div>
        <div class="col-3">
            <a href="http://fedhemo.com/">Federación Española de Hemofilia</a><br>
            <a href="https://www.aabb.org/">Association of blood banks</a><br>
        </div>
        <div class="col-6">
            <a href="http://www.crtssevilla.org/SAS_DyD_ES.pdf">Derechos y deberes del ciudadano</a><br>
            <a routerLink="/ayuda">Ayuda de la aplicación</a><br>
        </div>
    </footer>
